.pisende.container-fluid { padding-right: 0; padding-left: 0; margin-right: auto; margin-left: auto; }

.espacio { height: 432px; background-size: cover; background-position: center center; position: relative; }

@media screen and (min-width: 768px) { .espacio { height: 720px; } }

@media screen and (min-width: 992px) { .espacio { height: 100vh; } }

.espacio .espacio__opciones { position: absolute; bottom: 0px; left: 0px; width: 100%; height: auto; background: #AA0635; border-top: 1px solid #fff; /*flex-direction: column; justify-content: flex-start; align-items: flex-start;*/ -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.espacio .espacio__opciones .opcion { padding: 12px 0; width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-right: 1px solid #fff; /*@media screen and (min-width: 992px){ flex-direction: column; justify-content: center; align-items: center; border:0; } @media screen and (min-width: 992px){ flex-direction: row; justify-content: space-evenly; align-items: center; padding: 12px; }*/ }

@media screen and (min-width: 1200px) { .espacio .espacio__opciones .opcion { width: auto; border: 0; } }

.espacio .espacio__opciones .opcion__icono { width: 24px; }

@media screen and (min-width: 1200px) { .espacio .espacio__opciones .opcion__icono { width: 18px; } }

.espacio .espacio__opciones .opcion__titulo { padding-top: 7px; color: #fff; font-size: 11px; font-family: 'nexa',sans-serif; letter-spacing: 2px; margin-left: 3px; display: none; }

@media screen and (min-width: 1335px) { .espacio .espacio__opciones .opcion__titulo { font-size: 13px; } }

@media screen and (min-width: 1200px) { .espacio .espacio__opciones .opcion__titulo { display: block; } }

.espacio__menu { padding-top: 36px; padding-bottom: 36px; }

@media screen and (min-width: 992px) { .espacio__menu { padding-top: 150px; } }

.espacio__menu h3 { color: #009966; font-size: 16px; font-family: 'nexa', sans-serif; letter-spacing: 1px; padding-left: 30px; margin-bottom: 24px; text-align: center; }

@media screen and (min-width: 992px) { .espacio__menu h3 { text-align: left; margin-bottom: 50px; } }

.espacio__menu ul.nav { padding: 0; margin: 0; }

.espacio__menu ul.nav .nav-item { padding-left: 30px; padding-right: 30px; }

.espacio__menu ul.nav .nav-link { padding-right: 0; padding-left: 0; font-size: 14px; font-family: 'nexa', sans-serif; color: #4D4D4D; letter-spacing: 3px; }

.espacio__thumbnails { padding: 36px 24px; }

@media screen and (min-width: 992px) { .espacio__thumbnails { padding-top: 150px; height: 100vh; } }

.espacio__thumbnails h3 { color: #008165; font-size: 16px; font-family: 'nexa', sans-serif; letter-spacing: 1px; margin-bottom: 24px; }

@media screen and (min-width: 992px) { .espacio__thumbnails h3 { margin-bottom: 50px; } }

@media screen and (min-width: 992px) { .espacio__thumbnails .galeria_wrap { max-height: 85%; overflow-y: scroll; margin-right: 1%; } }

.espacio__thumbnails .galeria .galeria__item span { font-size: 14px; font-family: 'nexa', sans-serif; color: #4D4D4D; letter-spacing: 3px; }

@media screen and (max-width: 991px) { .espacio__thumbnails .galeria .galeria__item { margin-right: 12px; width: 90px; -ms-flex-wrap: nowrap; flex-wrap: nowrap; } }

@media screen and (min-width: 768px) { .espacio .espacio__opciones .opcion { width: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .espacio .espacio__opciones .opcion__icono { width: 20px; }
  .espacio .espacio__opciones .opcion__titulo { display: block; font-size: 10px; letter-spacing: 1px; } }

@media screen and (min-width: 1200px) { .espacio .espacio__opciones .opcion { width: auto; border: 0; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
  .espacio .espacio__opciones .opcion__icono { width: 20px; }
  .espacio .espacio__opciones .opcion__titulo { display: block; font-size: 12px; } }

.bg-gray { background: #f4f4f4; }

/* width */
::-webkit-scrollbar { width: 4px; }

/* Track */
::-webkit-scrollbar-track { background: #f4f4f4; }

/* Handle */
::-webkit-scrollbar-thumb { background: #ccc; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }

/*# sourceMappingURL=../maps/5-pages/espacios_page.css.map */
